%strong Me:

%p After a childhood spent tinkering on subjects such as Java programming and Linux, Brian's professional experience started with VoIP testing at 3Com in suburban Chicago. He then spent two years studying Computer Engineering at Purdue University before leaving to pursue freelance consulting in Los Angeles. Following several years of freelancing, he developed his expertise in enterprise infrastructure and cloud computing by working for a variety of startups and large corporations. Later he completed a Bachelor's in I.T. while working at Citrix. Brian is currently working on Citrix's Cloud Engineering and Systems Architecture team in Santa Barbara, California.

%p 
  %strong Clients:
%p Pending approval.

%p
  %strong This site:
%p 
  Nanoc + Bootstrap, 
  %a{href:"https://github.com/ddoc/dd0c.net"} on github
  , and hosted on s3.
%p
  %strong Technologies:
%p
  RedHat, Ubuntu, Linux,
  %br
  AWS, EC2, MySQL,
  %br
  CloudStack, CloudPlatform, XenServer,
  %br
  Apache, Tomcat, Java

