%p This is my personal website and blog. 

%p 
  Twitter: 
  %a{ :href => "https://twitter.com/dd0c" } dd0c 

%p 
  Flipboard:
  %a{ :href => "https://flipboard.com/section/mindless-babble-b62DiO" } dd0c 

