%h3 Services

%p I will engage in hourly and flat-cost projects. Please <a href="/contact/">contact me</a> for a quote.

%h3 Some successful projects include: 

%ul{:class => "mylist"}
  %li service deployments into and out of the cloud
  %li zip-code based retail store locator
  %li data-mining applications 
  %li custom web traffic reports
  %li trouble ticket reporting
  %li custom IVR application 
  %li system automation with puppet
  %li Ruby and PHP development
  %li snmp network discovery
  %li CloudStack/XenServer implementation

%h3 Keywords:

%li DNS configuration.
%li File system sizing and creation.
%li Startup and Shutdown scripts.
%li Kernel performance tuning.
%li Disaster recovery process implementation.
%li Installation and configuration of new hardware.
%li Installation of third party software packages.


