!!!
%html
  %head
    %title
      = "#{@item[:title]} - Brian Galura Linux and Web Guru"

    %meta{ :name => "generator", :content => "nanoc #{Nanoc::VERSION}"} 
    %meta{ :charset => "utf-8"}

    %meta{ :name => "google-site-verification", :content => "IIQ9ffswQ2sZinCqYSFxo3x3TI72pCNNC0d2XUbLa_Y"}
    %script{ :src => "/scripts/ga.js", :type => "text/javascript"}

    %script{ :src => "http://code.jquery.com/jquery-2.1.4.min.js", :type => "text/javascript"}
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    %link{ :href => "//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", :rel => "stylesheet"}
    <!-- Optional theme -->
    %link{ :href => "//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css", :rel => "stylesheet"}
    <!-- Latest compiled and minified JavaScript -->
    %script{ :src => "//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js", :type => "text/javascript"}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    /[if lt IE 9]
      %script{ :src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{ :src => "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}
      
  %body
    %nav{ :class=>"navbar navbar-default" }
      %div{ :id=>"header", :class=>"container text-center"} 
        %div{ :class=>"navbar-header"}
          %a{ :class=>"navbar-brand", :href=>"/"} Brian Galura
          %ul{ :class=>"nav navbar-nav navbar-right"}
            %li{ :class=>"first", :style=>"padding-right: 15px"} 
              %a{ :href=>"http://goo.gl/39Iuw"} CV/R&eacute;sum&eacute;
            %li #{ enkode_mail('bg@brian2.net','Email') }
            %li
              %a{:href=>"tel:+1-310-651-6348"} Phone 
            %li
              %a{:href=>"https://flipboard.com/@ddoc/"} Flipboard 
            %li{:class=>"last"}
              %a{:href=>"http://twitter.com/dd0c"} Twitter 
    %div{ :class=>"container" }
      %div{ :class=>"row" }
        %div{ :class=>"col-md-2" }
          <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          </ul>
        %div{ :class=>"col-md-10" }
          = yield
        <p class="text-muted credit">&copy;Brian Galura 2004-#{ Time.now.strftime('%Y') } updated: #{ @item.mtime.to_iso8601_date }</p>
    <div id="footer">
    <div class="container text-center">
    </div>
    </div>
